.my-nav {
   height: 74px;
   background-color: #000;
}

.cover {
   border: 4px solid #000000;
}

.title {
   position: absolute;
   margin-left: -30px;
   background-color: #000;
   width: 100%;
   height: 52px;
   color: #fff;
   font-size: 36px;
}

.chapter {
   height: 44px;
   width: 181px;
   background-color: #000;
   font-size: 24px;
   color: #FFFFFF;
}

.chapter-box {
   background-color: #fff;
   border: 4px solid #000000;
   font-size: 16px;
}